@{
    ViewData["Title"] = "Study";
}

@model CourseSystem.Web.ViewModels.Segments.StudySegmentsViewModel

<link href="~/css/lesson.css" rel="stylesheet" />
<div class="wrapper">
    @foreach (var segment in Model.Segments)
    {
        <div class="lesson" id="@segment.PlaceInLessonOrder">
            <h2 class="lesson-header">@Model.Name</h2>
            <section class="lesson-body">
                @if (segment.Discriminator == "ContentSegment")
                {
                    @Html.Raw(segment.SanitizedContent);
                }
                else if (segment.Discriminator == "TestSegment")
                {
                    //<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                    <link href="~/css/test.css" rel="stylesheet" />
                    <!------ Include the above in your HEAD tag ---------->

                    <div class="container-fluid bg-info">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3><span class="label label-warning" id="qid"></span>@segment.Question</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="quiz" id="quiz" data-toggle="buttons">
                                        <button onclick="clicked(this)" class="blockThis element-animation1 btn btn-lg btn-primary btn-block" id="adf">@segment.WrongAnswer1</button>
                                        <button onclick="clicked(this)" class="blockThis element-animation1 btn btn-lg btn-primary btn-block">@segment.WrongAnswer2</button>
                                        <button onclick="clicked(this)" id="correct" class="blockThis element-animation1 btn btn-lg btn-primary btn-block">@segment.CorrectAnswer</button>
                                        <button onclick="clicked(this)" class="blockThis element-animation1 btn btn-lg btn-primary btn-block">@segment.WrongAnswer3</button>
                                        <script>
                                            function clicked(clicked) {
                                                var answer = document.getElementsByClassName('answer');
                                                for (var i = 0; i < answer.length; i++) {
                                                    answer[i].innerHTML = 'Waiting...';
                                                    answer[i].style.color = '#6c757d';
                                                }
                                                if (clicked.id == 'correct') {
                                                    console.log('correct');
                                                    for (var i = 0; i < answer.length; i++) {
                                                        answer[i].innerHTML = 'Correct';
                                                        answer[i].style.color = '#00FF00';
                                                    }
                                                }
                                                else {
                                                    console.log('incorrect');
                                                    for (var i = 0; i < answer.length; i++) {
                                                        answer[i].innerHTML = 'Incorrect';
                                                        answer[i].style.color = '#FF0000';
                                                    }
                                                }
                                                blockButtons();
                                                @if (segment.PlaceInLessonOrder + 1 <= @Model.Segments.Count()) {
                                                    //setTimeout(function () {showOne(segment.PlaceInLessonOrder + 1)}, 2000);
                                                }
                                                else {
                                                    //setTimeout(function () { document.getElementById('finishButton').click(); }, 2000);
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="modal-footer text-muted">
                                    <span class="answer">Waiting...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
            @if (segment.PlaceInLessonOrder + 1 <= Model.Segments.Count())
            {
                <a class="btn btn-primary btn-lg" role="button" onclick="showOne(@segment.PlaceInLessonOrder+1)">Next</a>
            }
            else
            {
                <a id="finishButton" class="btn btn-primary btn-lg" role="button" asp-action="Study" asp-controller="Courses" asp-route-courseId="@Model.CourseId">Finish</a>
            }
        </div>

    }
</div>

<script>
    window.onload = function () {
        start();
    };
    function start() {
        $('.lesson').hide();
        $('#1').show();
    }
    function showOne(id) {
        $('.lesson').hide();
        $('#' + id).show();
        unblockButtons();
        console.log('showing ' + id);
    }
</script>

<script>
    function blockButtons() {
        var buttons = document.getElementsByClassName('blockThis');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true;
        }
    }

    function unblockButtons() {
        var buttons = document.getElementsByClassName('blockThis');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = false;
        }
    }
</script>