@using CourseSystem.Common
@using CourseSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/enrolledcourses.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/enrolledcourses.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            @if (this.User.Identity.IsAuthenticated)
            {
                <button class="btn" id="menu-toggle"><i class="fas fa-ellipsis-v" style="font-size: 2em; color: white"></i></button>
            }
            <a class="navbar-brand text-light lewu" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/placeholder.png" alt="placeholder"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">My Courses<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Discover" asp-action="Courses">Discover</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Settings">Settings</a>
                                <div class="dropdown-divider"></div>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register" id="signup">Sign up</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="sidebar-bg" id="sidebar-wrapper">
                <div class="sidebar-heading sidebar-bg">Profile</div>
                <div class="list-group list-group-flush sidebar-bg">
                    <a href="#" class="list-group-item list-group-item-action sidebar-bg">Enrolled Courses</a>
                    <a href="#" class="list-group-item list-group-item-action sidebar-bg">Created Courses</a>
                    <a asp-controller="Decks" asp-action="MyDecks" class="list-group-item list-group-item-action sidebar-bg">Decks</a>
                </div>
            </div>


            <div class="container">
                <partial name="_CookieConsentPartial" />
                <main role="main">
                    @this.RenderBody()
                </main>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main">
                @this.RenderBody()
            </main>
        </div>
    }

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
