@{
    ViewData["Title"] = "Discover";
}
@model CourseSystem.Web.ViewModels.Courses.DiscoverCoursesViewModel

<link href="~/css/enrolledcourses.css" rel="stylesheet">
<link href="~/css/createdcourses.css" rel="stylesheet">

<div class="main">
    @foreach (var course in Model.Courses)
    {
        <div class="course">
            <img src="@course.ThumbnailUrl" alt="">
            <div>
                <h1 class="title">@course.Name</h1>
                <div class="lower">
                    <p>@course.Description</p>
                    <h3>Difficulty: @course.Difficulty</h3>
                    <h3>Lessons: @course.LessonsCount</h3>
                    <h3>Students Enrolled: @course.EnrolledUsersCount</h3>
                    <div class="edit btn">Enroll</div>
                </div>
            </div>
        </div>
    }
</div>