@{
    ViewData["Title"] = "Discover";
}
@model CourseSystem.Web.ViewModels.Courses.DiscoverCoursesViewModel

<link href="~/css/enrolledcourses.css" rel="stylesheet">
<link href="~/css/createdcourses.css" rel="stylesheet">
<div id="page-content-wrapper">

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="searchbar">
                <input class="search_input" type="text" name="" onchange="Search(this.value)" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>

    <div class="main">
        @foreach (var course in Model.Courses)
        {
            <div class="course">
                <img src="@course.ThumbnailUrl" alt="No Thumbnail">
                <div>
                    <h1 class="title">@course.Name</h1>
                    <p class="h5">@course.Description</p>
                    <div class="lower">
                        <h3>Lessons: @course.LessonsCount</h3>
                        <h3>Difficulty: @course.Difficulty</h3>
                        <h3>Students Enrolled: @course.EnrolledUsersCount</h3>
                        <a class="btn btn-primary btn-lg" asp-action="Enroll" asp-controller="Courses" asp-route-courseId="@course.Id" role="button">Enroll</a>
                    </div>
                </div>
            </div>
        }
        <div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previous">
                    <a class="page-link" href="#" onclick="GoToPerviousPage()" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.Courses.Count() / 10 + 1; i++)
                {
                    <li class="page-item pageNumber" id="page-@i"><a class="page-link" href="#" onclick="GoToPage(@i, this.parentElement)">@i</a></li>
                }
                <li class="page-item" id="next">
                    <a class="page-link" href="#" onclick="GoToNextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var currentPage = 1;
    var numberOfPages = Math.floor(document.getElementsByClassName('course').length / 10 + 1);
    function GoToPage(page) {
        currentPage = page;
        setActive(page);
        CheckBounds();
        var coursesArray = document.getElementsByClassName('course');
        for (var i = 0; i < coursesArray.length; i++) {
            coursesArray[i].hidden = true;
        }
        for (var i = (page - 1) * 10; i <= ((page - 1) * 10) + 9; i++) {
            coursesArray[i].hidden = false;
        }
    }
    function GoToNextPage() {
        GoToPage(currentPage + 1);
    }
    function GoToPerviousPage() {
        GoToPage(currentPage - 1);
    }
    function CheckBounds() {
        var previous = document.getElementById('previous');
        if (currentPage == 1) {
            previous.classList.add("disabled");
        }
        else {
            previous.classList.remove("disabled");
        }

        if (currentPage == numberOfPages) {
            document.getElementById('next').classList.add("disabled");
        }
        else {
            document.getElementById('next').classList.remove("disabled");
        }
    }
    function setActive(page) {
        var pageNumbers = document.getElementsByClassName('pageNumber');
        for (var i = 0; i < pageNumbers.length; i++) {
            pageNumbers[i].classList.remove('active');
        }
        var element = document.getElementById('page-' + page);
        element.classList.add('active');
    }
    GoToPage(1);
    CheckBounds();
</script>

<script>
    var main = document.getElementsByClassName('main')[0];
    var html = main.innerHTML;
    function Search(text) {
        var names = [];
        var difficulties = [];
        var lessonCounts = [];
        var thumbnailUrls = [];
        var Ids = [];
        var enrolledUsersCounts = [];
        var descriptions = [];
        @foreach (var course in Model.Courses)
        {
            @:names.push('@course.Name')
            @:difficulties.push('@course.Difficulty')
            @:lessonCounts.push('@course.LessonsCount')
            @:thumbnailUrls.push('@course.ThumbnailUrl')
            @:Ids.push('@course.Id')
            @:enrolledUsersCounts.push('@course.EnrolledUsersCount')
            @:descriptions.push('@course.Description')
        }
        var main = document.getElementsByClassName('main')[0];
        if (text != '') {
            if (names.includes(text)) {
                var index = names.indexOf(text);
                main.innerHTML = '<div class="course"><img src="' + thumbnailUrls[index] + '" alt="No Thumbnail"><div><h1 class="title">' + names[index] + '</h1><p class="h5">' + descriptions[index] + '</p><div class="lower"><h3>Lessons: ' + lessonCounts[index] + '</h3><h3>Difficulty: ' + difficulties[index] + '</h3><h3>Students Enrolled: ' + enrolledUsersCounts[index] + '</h3><a class="btn btn-primary btn-lg" href="/Courses/Enroll?courseId=' + Ids[index] + '" role="button">Enroll</a></div></div></div>';
            }
            else {
                alert('No such course exists');
            }
        }
        else {
            main.innerHTML = html;
        }
    }
</script>
