@{
    ViewData["Title"] = "Discover";
}
@model CourseSystem.Web.ViewModels.Courses.DiscoverCoursesViewModel

<link href="~/css/enrolledcourses.css" rel="stylesheet">
<link href="~/css/createdcourses.css" rel="stylesheet">

<div class="main">
    @foreach (var course in Model.Courses)
    {
        <div class="course">
            <img src="@course.ThumbnailUrl" alt="No Thumbnail">
            <div>
                <h1 class="title">@course.Name</h1>
                <p class="h5">@course.Description</p>
                <div class="lower">
                    <h3>Lessons: @course.LessonsCount</h3>
                    <h3>Difficulty: @course.Difficulty</h3>
                    <h3>Students Enrolled: @course.EnrolledUsersCount</h3>
                    <a class="btn btn-primary btn-lg" asp-action="Enroll" asp-controller="Courses" asp-route-courseId="@course.Id" role="button">Enroll</a>
                </div>
            </div>
        </div>
    }
</div>